<div
  *ngIf="isUpdate; else Edit"
  class="col-span-full cursor-pointer flex justify-end"
>
  <button
    [disabled]="profileForm.invalid"
    (click)="profileUpdate()"
    type="button"
    class="font-semibold text-sm border rounded border-gray-100 px-3 py-[6px] disabled:hover:bg-gray-900 disabled:opacity-50 disabled:hover:text-gray-100 hover:bg-gray-100 hover:text-gray-900 transition duration-300 text-gray-100"
  >
    Update
  </button>
</div>

<ng-template #Edit>
  <div (click)="toEdit()" class="col-span-full cursor-pointer flex justify-end">
    <span class="m-1">
      <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fillRule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        />
      </svg>
    </span>
    Edit
  </div>
</ng-template>
<div [ngClass]="!isUpdate ? 'pointer-events-none' : 'pointer-events-auto'">
  <div *ngFor="let x of inputBoxes" class="col-span-full sm:col-span-3">
    <app-input-box
      [inputId]="x.inputId"
      [inputType]="x.inputType"
      [labelName]="x.labelName"
      [inputPlaceHolder]="x.inputPlaceHolder"
      [inputFormControlName]="x.inputId"
      [form]="profileForm"
    />
  </div>
</div>
