<div class="shadow-lg w-full text-white fixed z-30 top-0 left-0">
  <div
    class="lg:flex items-center justify-between bg-slate-800 py-4 lg:px-10 px-7"
  >
    <div
      class="font-bold text-2xl cursor-pointer flex items-center font-[Poppins] text-white"
    >
      <img
        class="w-[55px] mx-2"
        src="../../../../../../assets/images/pngwing.com.png"
      />
      Let's Play
    </div>

    <div
      class="text-9xl font-extrabold text-white absolute right-8 top-6 cursor-pointer lg:hidden"
      (click)="toggleMenu()"
    >
      <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path
          fillRule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </div>

    <ul
      class="lg:flex lg:items-center text-black lg:text-white text-center lg:pb-0 pb-12 absolute lg:static bg-white lg:bg-slate-800 lg:z-auto z-[-1] left-0 w-full lg:w-auto lg:pl-0 transition-all duration-500 ease-in"
      [ngClass]="{
        'top-[67px]': isOpen,
        'top-[-490px]': !isOpen
      }"
    >
      <li
        *ngFor="let menu of menus"
        class="text-sm lg:ml-8 lg:my-0 my-7"
        (click)="toggleMenu()"
      >
        <a [routerLink]="menu.link">{{ menu.name }}</a>
      </li>
      <li
        *ngIf="isLogin$ | async"
        class="text-sm lg:ml-8 lg:my-0 my-7"
        (click)="toggleMenu()"
      >
        <a routerLink="/bookings">BOOKINGS</a>
      </li>

      <button
        (click)="toggleMenu()"
        *ngIf="!(isLogin$ | async)"
        routerLink="login"
        class="bg-indigo-600 text-white font-[Poppins] py-2 px-6 rounded md:ml-8 hover:bg-indigo-400 duration-500"
      >
        Get Started {{ isLogin$ | async }}
      </button>

      <span *ngIf="isLogin$ | async" class="text-sm lg:ml-8 lg:my-0 my-7">
        <a routerLink="/profile">
          <span
            class="text-gray-800 lg:hidden hover:text-gray-400 duration-500"
            (click)="toggleMenu()"
            >PROFILE</span
          >
          <svg
            width="30"
            height="30"
            fill="currentColor"
            viewBox="0 0 16 16"
            class="hidden lg:block text-white"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
        </a>
      </span>
    </ul>
  </div>
</div>
