<div
  class="flex justify-evenly items-end min-h-[80vh] w-full lg:flex-wrap flex-wrap-reverse"
>
  <div class="md:w-[65%] lg:w-[37%] xl:w-[32%] mt-5 lg:mt-8 px-5">
    <h1 class="text-5xl text-white font-extrabold">
      Your Playground is just a tap away...
    </h1>
    <div
      class="flex w-full lg:justify-between justify-evenly flex-wrap pt-5 lg:pt-8"
    >
      <app-button route="/turfs" color="bg-green-500" text="To Book Avenue" />
      <app-button
        route="/register-turf"
        color="bg-yellow-400"
        text="To Get Listed"
      />
    </div>
  </div>
  <div class="md:mt-0">
    <img class="w-72" src="../../../../../../assets/images/meet-pals.png" />
  </div>
</div>
