<div
  class="bg-slate-800 text-gray-600 bg-[url('/assets/images/partnerwithus.jpg')]"
>
  <div *ngIf="profile._id" class="container mx-auto pt-20 p-4">
    <div class="mb-4 flex justify-center items-center">
      <h1 class="text-4xl text-gray-200 font-semibold">
        {{ profile.courtName }}
      </h1>
    </div>
    <!-- <img src="/assets/images/partnerwithus.jpg" alt="" /> -->
    <app-default-details *ngIf="profile" [details]="profile" />
    <div class="mt-4">
      <h2 class="text-lg font-semibold mb-2">Additional Details</h2>
      <div class="bg-white p-4 rounded shadow">
        <app-form-details [details]="profile" />

        <app-profile-update-button
          [isEdit]="isEdit"
          (setUpdate)="setUpdate($event)"
          (setEdit)="setEdit($event)"
        />
      </div>
    </div>
  </div>
</div>
