<div class="grid place-items-center min-h-[85vh]">
  <div
    class="max-w-md md:min-w-[434px] p-6 rounded-md sm:px-12 py-5 bg-slate-800"
  >
    <div class="mb-3 text-center">
      <h1 class="my-3 text-4xl font-bold">Login</h1>
      <p class="text-sm text-gray-400">Sign in to access your account</p>
    </div>

    <form>
      <div *ngFor="let x of inputBoxes">
        <app-input-box
          [inputId]="x.inputId"
          [inputType]="x.inputType"
          [labelName]="x.labelName"
          [inputPlaceHolder]="x.inputPlaceHolder"
          [inputFormControlName]="x.inputId"
          [form]="loginForm"
        />
      </div>
      <div class="space-y-2">
        <auth-button
          button="Login"
          [disabled]="loginForm.invalid"
          (onClick)="onSubmit()"
        />
        <p class="px-6 text-sm text-center text-gray-400">
          Don't have an account ?
          <a class="hover:underline text-violet-400" routerLink="/register"
            >Signup here</a
          >.
        </p>
      </div>
    </form>
  </div>
</div>
