<div class="space-y-2 col-span-full lg:col-span-1">
  <p class="font-medium">Personal Inormation</p>
  <p class="text-xs">
    Here you can edit and update your profile picture and details
  </p>
  <div class="col-span-full">
    <!-- {/* <label for="bio" class="text-sm">Photo</label> */} -->
    <div class="flex pt-10 justify-center space-x-2">
      <img
        src="./../../../../../../../assets/images/avatar.png"
        alt="profile picture"
        class="w-48 h-48 rounded-full bg-gray-800"
      />
      <!-- {/* <button type="button" class="px-4 py-2 border rounded-md border-gray-100">Change</button> */} -->
    </div>
  </div>
</div>
