<div class="text-gray-200 bg-gray-700" id="scrollDiv">
  <div class="md:px-32 lg:py-20 sm:px-20 px-5 py-10">
    <div class="grid grid-cols-12 gap-4">
      <div class="lg:col-span-8 col-span-12">
        <div class="md:px-20 xl:px-36 px-10 py-10">
          <h1 class="font-bold text-3xl mb-7">PATNERSHIP FORM</h1>
          <form [formGroup]="registerForm" class="w-full">
            <div *ngFor="let x of inputBoxes" class="mb-4">
              <app-input-box
                [inputId]="x.inputId"
                [inputType]="x.inputType"
                [labelName]="x.labelName"
                [inputPlaceHolder]="x.inputPlaceHolder"
                [inputFormControlName]="x.inputId"
                [form]="registerForm"
              />
            </div>
            <div class="mb-4">
              <div class="my-5">
                <label for="location" class="block mb-2 text-sm"
                  >Location</label
                >
                <app-location-search />
              </div>
            </div>
            <div *ngFor="let x of inputBoxes2" class="mb-4">
              <app-input-box
                [inputId]="x.inputId"
                [inputType]="x.inputType"
                [labelName]="x.labelName"
                [inputPlaceHolder]="x.inputPlaceHolder"
                [inputFormControlName]="x.inputId"
                [form]="registerForm"
              />
            </div>
            <div class="mb-4" key="img">
              <label
                class="block text-gray-600 font-semibold mb-2"
                htmlFor="img"
                >Turf Images</label
              >
              <div>
                <div *ngFor="let preview of imagePreviews; let i = index">
                  <img [src]="preview" alt="Image Preview" />
                  <button type="button" (click)="removeImage(i)">Remove</button>
                </div>
                <input
                  type="file"
                  (change)="handleImageInput($event)"
                  multiple
                />
              </div>
            </div>
            <button
              class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
      <app-contact-info />
    </div>
  </div>
</div>
