<div class="fixed left-0 z-20 bg-white opacity-50 top-0 w-full h-screen"></div>

<div class="w-full fixed left-0 text-black top-[20%] z-30 flex justify-center">
  <div
    ngxStripeCardGroup
    class="w-full max-w-md mx-auto p-6 bg-white rounded-lg shadow-md"
  >
    <h4 class="text-lg font-semibold mb-4">Enter Payment Details</h4>
    <div class="space-y-4">
      <div class="space-y-2">
        <label class="text-sm font-medium text-gray-600">Card Number</label>
        <div class="border border-gray-300 rounded-md p-2">
          <ngx-stripe-card-number
            [options]="cardOptions"
            class="w-full"
          ></ngx-stripe-card-number>
        </div>
      </div>
      <div class="flex justify-between space-x-2">
        <div class="w-1/2">
          <label class="text-sm font-medium text-gray-600">Expiry Date</label>
          <div class="border border-gray-300 rounded-md p-2">
            <ngx-stripe-card-expiry
              [options]="cardOptions"
              class="w-full"
            ></ngx-stripe-card-expiry>
          </div>
        </div>
        <div class="w-1/2">
          <label class="text-sm font-medium text-gray-600">CVC</label>
          <div class="border border-gray-300 rounded-md p-2">
            <ngx-stripe-card-cvc
              [options]="cardOptions"
              class="w-full"
            ></ngx-stripe-card-cvc>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="pay()"
      [disabled]="isDisabled"
      class="w-full mt-6 bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-300"
    >
      Submit Payment
    </button>
  </div>
</div>
