<div class="sticky lg:top-32 top-28 w-full z-10 flex justify-center border-[0]">
  <div
    class="text-red-600 md:px-14 px-5 py-2 rounded bg-red-300 flex overflow-hidden opacity-95 drop-shadow-2xl shadow-gray-400"
  >
    <span> {{ errorMessage }} </span>
    <span class="h-5 w-5 mt-1 ml-5 cursor-pointer" (click)="removeError()">
      <svg>
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </span>
  </div>
</div>
