<div class="flex justify-center px-3 pt-10">
  <div class="relative sm:static w-fit flex">
    <button
      (click)="getPrevImage()"
      class="sm:mr-1 absolute sm:static top-[50%] left-[-12px] xs:left-[-21px] text-gray-500"
    >
      <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
        <path
          fillRule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
        />
      </svg>
    </button>
    <img
      class="max-w-200px xs:max-w-xs md:max-w-3xl max-h-[400px] lg:min-h-[400px] lg:min-w-[400px] shadow-2xl rounded-lg"
      [src]="images[index].location"
      alt="Photo"
    />
    <button
      class="sm:ml-1 absolute sm:static top-[50%] right-[-12px] xs:right-[-21px] text-gray-500"
      (click)="getNextImage()"
    >
      <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
        <path
          fillRule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </button>
  </div>
</div>
